<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>

            <div class="container mt-5 ">
                <h1>Perguntas</h1>
                <a href="/perguntar" class="btn btn-dark mb-0">Perguntar</a>
                <hr class="mb-5">
                <div class="row">
                    <% perguntas.forEach(pergunta=> { %>
                        <div class="col-3">
                            <div class="card text-center">
                                <div class="card-header text-white  bg-dark">
                                    <h4>
                                        <%= pergunta.titulo %>
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <p>
                                        <%= pergunta.descricao %>
                                    </p>
                                    <a href="/pergunta/<%= pergunta.id %> " class="btn btn-outline-dark">Ver Mais</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>

    </body>

    <%- include("partials/footer") %>